html {}

header {
  text-align: center;
}

nav button {
  color: #fff;
  border-radius: 25px;
  text-shadow: 1px 1px 1px #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
  background: #c9de96;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235', GradientType=0);
  /* IE6-9 */
}

#misc {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}

article {
  font-family: "Times New Roman", Times, serif;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.column-center {
  display: inline-block;
  width: 60%;
}

.success {display: none;}


/* TYPOGRAPHY */

h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}


/* IMAGES */

#header-img {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
}