/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    background-image: url("../img/bg.png");
}

#myPhoto {
    border-radius: 50%;
    width: 12%;
    height: auto;
    vertical-align: middle;
}

















